<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis 3 Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rm.mapper.workplace.WorkplaceMapper">
	<resultMap id="workplaceResultMap" type="com.rm.dto.workplace.Workplace">
		<id property="workplaceId" column="workplace_id" />
		<result property="userId" column="user_id" />
		<result property="businessTypeNm" column="business_type_nm" />
		<result property="businessRegNo" column="business_reg_no" />
		<result property="businessName" column="business_name" />
		<result property="ownerName" column="owner_name" />
		<result property="phoneNumber" column="phone_number" />
		<result property="address" column="address" />
		<result property="detailAddress" column="detail_address" />
		<result property="status" column="status" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	

	<select id="selectWorkplaceById" resultMap="workplaceResultMap">
		select 
				workplace_id,
				user_id,
				business_type_nm,
				business_reg_no,
				business_name,
				owner_name,
				phone_number,
				address,
				detail_address,
				status,
				created_at,
				updated_at
		from rm_workplace where workplace_id = #{workplaceId}
	</select>
	
	<select id="selectWorkplacesByUserId" resultMap="workplaceResultMap">
		select 
				workplace_id,
				user_id,
				business_type_nm,
				business_reg_no,
				business_name,
				owner_name,
				phone_number,
				address,
				detail_address,
				status,
				created_at,
				updated_at
		from rm_workplace where user_id = #{Id}
		order by status, workplace_id
	</select>
	<select id = "countWorkplaces" resultType="int">
		select count(*) from rm_workplace where user_id = #{userId}
	</select>
	
	<select id="isBusinessRegNoExists" resultType="boolean">
	    SELECT EXISTS (
	        SELECT 1 FROM rm_workplace WHERE business_reg_no = #{businessRegNo}
	    )
	</select>
	
	<insert id="createWorkplace" parameterType="com.rm.dto.workplace.Workplace" useGeneratedKeys="true" keyProperty="workplaceId">
		insert into rm_workplace (
			user_id,
			business_type_nm,
			business_reg_no,
			business_name,
			owner_name,
			phone_number,
			address,
			detail_address,
			status
		)
		values (
			#{userId},
			#{businessTypeNm},
			#{businessRegNo},
			#{businessName},
			#{ownerName},
			#{phoneNumber},
			#{address},
			#{detailAddress},
			#{status}
		)
	
	</insert>
	
	<delete id ="deleteWorkplace">
		delete from rm_workplace
		where workplace_id = #{workplaceId}
	</delete>
	
	<delete id ="deleteWorkplaceResource">
		delete from rm_resource 
		where workplace_id = #{workplaceId}
		
	</delete>
	
	<update id="updateWorkplaceById" parameterType="com.rm.dto.workplace.Workplace">
		update rm_workplace
		set business_type_nm = #{businessTypeNm},
				business_reg_no = #{businessRegNo},
				business_name = #{businessName},
				owner_name = #{ownerName},
				phone_number = #{phoneNumber},
				address = #{address},
				detail_address = #{detailAddress},
				status	= #{status}
		where workplace_id = #{workplaceId}
	</update>

</mapper>
